*{
    color: white;
}
.container{
    height: 1170px;
    width: 400px;
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    position: absolute;
    left: 500px;
}
.nav{
    height: 50px;
    background-color: rgb(51, 70, 44);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.logo{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo p{
    margin-left: -185px;
    width: 80px;
}
.logo i{
    width: 20px;
}
.logo #menu{
    margin-right: -200px;
}
.logo #search{
    margin-right: -178px;
}
.logo #cam{
    margin-right: -174px;
}
.nav2{
    height: 50px;
    background-color: rgb(51, 70, 44);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav2 p{
    margin-top: 40px;
    font-size: 19px;
}
.nav2 i{
    margin-top: 22px;
}
.nav2 p:hover{
    background-color:  rgba(26, 25, 25, 0.918);
     border-radius: 3px;
}
i:hover{
    background-color:  rgba(26, 25, 25, 0.918);
    border-radius: 3px; 
}
.image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
span{
    font-size: 20px;
}
#image1{
    background-image: url(image1.png);
    background-size: cover;  
}
#image2{
    background-image: url(image2.png);
    background-size: cover; 
}
#image3{
    background-image: url(image3.png);
    background-size: cover; 
}
#image4{
    background-image: url(image4.png);
    background-size: cover; 
}
#image5{
    background-image: url(image5.png);
    background-size: cover; 
}
#image6{
    background-image: url(image6.png);
    background-size: cover; 
}
#image7{
    background-image: url(image7.png);
    background-size: cover; 
}
#image8{
    background-image: url(image8.png);
    background-size: cover; 
}
#image9{
    background-image: url(image9.png);
    background-size: cover; 
}
#image10{
    background-image: url(image10.png);
    background-size: cover; 
}
#image11{
    background-image: url(image11.png);
    background-size: cover; 
}
#image12{
    background-image: url(image12.png);
    background-size: cover; 
}
#image13{
    background-image: url(image13.png);
    background-size: cover; 
}


